@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#left-pointer {
	width: 14px;
	position: absolute;
	left: 53%;
	animation: leftRightWiggle 1s infinite;
}

.lg-puricare {
	/* padding-bottom: 56.5%; */
	position: relative;
	width: 300px;
	height: 250px;
	overflow: hidden;
}

.lg-puricare > video {
	top: 0;
	left: 0;
	width: 100%;

	position: absolute;
	z-index: -1;
}

.lg-puricare > div {
	background-color: #ffffff;
	background-size: cover;
	background-position: center;
	border-top: 3px solid #e0063a;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 33%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.lg-puricare > div > #lg-logo {
	height: 42px;
	position: absolute;
	right: 1%;
	top: 20px;
}

.lg-puricare > div > #lg-anim {
	width: 40%;
	position: absolute;
	bottom: -10%;
	left: 36%;
	transform: translateX(-50%);
}

.lg-puricare > div > #lg-slogan {
	color: #000000;
	font-size: 8px;
	font-family: 'Oswald', sans-serif;
	width: 16%;
	margin-left: 3%;
}

.lg-puricare > div > #lg-cta {
	color: #000000;
	font-family: 'Oswald', sans-serif;
	font-size: 8px;
	position: absolute;
	left: 61%;
	transition: all 1s;
}

.lg-puricare > .img1 {
	width: 25px;
	position: absolute;
	animation: bubble1 3s;
	animation-delay: 3s;
	opacity: 0;
}

.lg-puricare > .img2 {
	width: 20px;
	position: absolute;
	animation: bubble2 3.5s;
	animation-delay: 3s;
	opacity: 0;
}

.lg-puricare > .img3 {
	width: 22px;
	position: absolute;
	opacity: 0;
	animation: bubble3 2s;
	animation-delay: 3s;
}

.lg-puricare > .img4 {
	width: 23px;
	position: absolute;
	opacity: 0;
	animation: bubble4 2.5s;
	animation-delay: 3s;
}

.lg-puricare > .img5 {
	width: 21px;
	position: absolute;
	opacity: 0;
	animation: bubble5 2.5s;
	animation-delay: 3s;
}

.lg-puricare > .img6 {
	width: 25px;
	position: absolute;
	opacity: 0;
	animation: bubble6 2.5s;
	animation-delay: 3s;
}

.lg-puricare > .img7 {
	width: 15px;
	position: absolute;
	opacity: 0;
	animation: bubble7 2s;
	animation-delay: 3s;
}

.lg-puricare > .img8 {
	width: 14px;
	position: absolute;
	opacity: 0;
	animation: bubble8 2.5s;
	animation-delay: 3s;
}

.lg-puricare > .img9 {
	width: 15px;
	position: absolute;
	opacity: 0;
	animation: bubble9 2.5s;
	animation-delay: 3s;
}

.lg-puricare > .img10 {
	width: 14px;
	position: absolute;
	opacity: 0;
	animation: bubble10 2.5s;
	animation-delay: 3s;
}

@keyframes bubble1 {
	0% {
		left: 20%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 22%;
	}
	20% {
		left: 19%;
	}
	30% {
		left: 22.5%;
	}
	40% {
		left: 20%;
	}
	50% {
		left: 18%;
	}
	60% {
		left: 19%;
	}
	70% {
		left: 18%;
	}
	80% {
		left: 21%;
	}
	90% {
		left: 19%;
	}
	100% {
		left: 20%;
		bottom: 25%;
		opacity: 0.5;
	}
}

@keyframes bubble2 {
	0% {
		left: 40%;
		opacity: 1;
		bottom: -10%;
	}
	10% {
		left: 41%;
	}
	20% {
		left: 38%;
	}
	30% {
		left: 40.5%;
	}
	40% {
		left: 39%;
	}
	50% {
		left: 41%;
	}
	60% {
		left: 39%;
	}
	70% {
		left: 40%;
	}
	80% {
		left: 43%;
	}
	90% {
		left: 38%;
	}
	100% {
		left: 40%;
		bottom: 25%;
		opacity: 0.5;
	}
}

@keyframes bubble3 {
	0% {
		left: 60%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 64%;
	}
	20% {
		left: 58%;
	}
	30% {
		left: 61.5%;
	}
	40% {
		left: 60%;
	}
	50% {
		left: 57%;
	}
	60% {
		left: 59%;
	}
	70% {
		left: 62%;
	}
	80% {
		left: 60%;
	}
	90% {
		left: 58%;
	}
	100% {
		left: 60%;
		bottom: 28%;
		opacity: 0.5;
	}
}

@keyframes bubble4 {
	0% {
		left: 80%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 82%;
	}
	20% {
		left: 79%;
	}
	30% {
		left: 82.5%;
	}
	40% {
		left: 80%;
	}
	50% {
		left: 78%;
	}
	60% {
		left: 79%;
	}
	70% {
		left: 78%;
	}
	80% {
		left: 81%;
	}
	90% {
		left: 79%;
	}
	100% {
		left: 80%;
		bottom: 24%;
		opacity: 0.5;
	}
}

@keyframes bubble5 {
	0% {
		left: 70%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 72%;
	}
	20% {
		left: 69%;
	}
	30% {
		left: 72.5%;
	}
	40% {
		left: 71%;
	}
	50% {
		left: 65%;
	}
	60% {
		left: 70%;
	}
	70% {
		left: 69%;
	}
	80% {
		left: 72%;
	}
	90% {
		left: 68%;
	}
	100% {
		left: 70%;
		bottom: 22%;
		opacity: 0.5;
	}
}

@keyframes bubble6 {
	0% {
		left: 30%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 32%;
	}
	20% {
		left: 29%;
	}
	30% {
		left: 32.5%;
	}
	40% {
		left: 31%;
	}
	50% {
		left: 25%;
	}
	60% {
		left: 30%;
	}
	70% {
		left: 29%;
	}
	80% {
		left: 32%;
	}
	90% {
		left: 28%;
	}
	100% {
		left: 30%;
		bottom: 28%;
		opacity: 0.5;
	}
}

@keyframes bubble7 {
	0% {
		left: 15%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 17%;
	}
	20% {
		left: 15%;
	}
	30% {
		left: 17.5%;
	}
	40% {
		left: 16%;
	}
	50% {
		left: 10%;
	}
	60% {
		left: 15%;
	}
	70% {
		left: 14%;
	}
	80% {
		left: 17%;
	}
	90% {
		left: 13%;
	}
	100% {
		left: 15%;
		bottom: 28%;
		opacity: 0.5;
	}
}

@keyframes bubble8 {
	0% {
		left: 50%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 52%;
	}
	20% {
		left: 50%;
	}
	30% {
		left: 52.5%;
	}
	40% {
		left: 51%;
	}
	50% {
		left: 45%;
	}
	60% {
		left: 50%;
	}
	70% {
		left: 49%;
	}
	80% {
		left: 52%;
	}
	90% {
		left: 48%;
	}
	100% {
		left: 50%;
		bottom: 28%;
		opacity: 0.5;
	}
}

@keyframes bubble9 {
	0% {
		left: 60%;
		opacity: 1;
		bottom: -10%;
	}
	10% {
		left: 61%;
	}
	20% {
		left: 58%;
	}
	30% {
		left: 60.5%;
	}
	40% {
		left: 59%;
	}
	50% {
		left: 61%;
	}
	60% {
		left: 59%;
	}
	70% {
		left: 60%;
	}
	80% {
		left: 63%;
	}
	90% {
		left: 58%;
	}
	100% {
		left: 60%;
		bottom: 25%;
		opacity: 0.5;
	}
}

@keyframes bubble10 {
	0% {
		left: 90%;
		opacity: 1;
		bottom: -10%;
	}
	10% {
		left: 91%;
	}
	20% {
		left: 88%;
	}
	30% {
		left: 90.5%;
	}
	40% {
		left: 89%;
	}
	50% {
		left: 91%;
	}
	60% {
		left: 89%;
	}
	70% {
		left: 90%;
	}
	80% {
		left: 93%;
	}
	90% {
		left: 88%;
	}
	100% {
		left: 90%;
		bottom: 25%;
		opacity: 0.5;
	}
}

@keyframes leftRightWiggle {
	50% {
		transform: translate(5px, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
