@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.lg-puricare {
	padding-bottom: 54.7%;
	height: 0;
	position: relative;
	/* overflow: hidden; */
}

.lg-puricare > video {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}

.lg-puricare > div {
	/* background-color: #411530; */
	/* background-image: url('https://images.unsplash.com/photo-1492446190781-58ac4285911d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1105&q=80'); */
	background-color: #ffffff;
	background-size: cover;
	background-position: center;
	border-top: 3px inset #ffffff;
	position: absolute;
	transform: translateY(72%);
	bottom: 0;
	left: 0;
	width: 100%;
	height: 25%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.lg-puricare > div > .lg-logo {
	height: 60%;
	position: absolute;
	right: 3%;
	top: 20%;
}

.lg-puricare > div > #lg-anim {
	width: 30%;
	position: absolute;
	bottom: -30%;
	left: 45%;
	transform: translateX(-50%);
}

.lg-puricare > div > .lg-slogan {
	color: #000000;
	font-size: 70%;
	font-family: 'Oswald', sans-serif;
	width: 25%;
	margin-left: 3%;
}

.lg-puricare > div > .lg-cta {
	color: #000000;
	font-family: 'Oswald', sans-serif;
	position: absolute;
	left: 62%;
	animation: textFlicker 2s infinte;
}

@media screen and (max-width: 500px) {
	.lg-puricare > div > .lg-slogan {
		font-size: 60%;
	}

	.lg-puricare > div > .lg-cta {
		font-size: 70%;
	}
}

@media screen and (max-width: 400px) {
	.lg-puricare > div > .lg-slogan {
		font-size: 40%;
	}

	.lg-puricare > div > .lg-cta {
		font-size: 60%;
	}
}

.lg-puricare > .img1 {
	width: 30px;
	position: absolute;
	animation: bubble1 3s;
	opacity: 0;
}

.lg-puricare > .img2 {
	width: 25px;
	position: absolute;
	/* animation-delay: 0.2s; */
	animation: bubble2 3.5s;
	opacity: 0;
}

.lg-puricare > .img3 {
	width: 27px;
	position: absolute;
	opacity: 0;
	animation: bubble3 2s;
}

.lg-puricare > .img4 {
	width: 28px;
	position: absolute;
	opacity: 0;
	animation: bubble4 2.5s;
}

.lg-puricare > .img5 {
	width: 26px;
	position: absolute;
	opacity: 0;
	animation: bubble5 2.5s;
}

.lg-puricare > .img6 {
	width: 30px;
	position: absolute;
	opacity: 0;
	animation: bubble6 2.5s;
}

@keyframes bubble1 {
	0% {
		left: 20%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 22%;
	}
	20% {
		left: 19%;
	}
	30% {
		left: 22.5%;
	}
	40% {
		left: 20%;
	}
	50% {
		left: 18%;
	}
	60% {
		left: 19%;
	}
	70% {
		left: 18%;
	}
	80% {
		left: 21%;
	}
	90% {
		left: 19%;
	}
	100% {
		left: 20%;
		bottom: 25%;
		opacity: 0.5;
	}
}

@keyframes bubble2 {
	0% {
		left: 40%;
		opacity: 1;
		bottom: -10%;
	}
	10% {
		left: 41%;
	}
	20% {
		left: 38%;
	}
	30% {
		left: 40.5%;
	}
	40% {
		left: 39%;
	}
	50% {
		left: 41%;
	}
	60% {
		left: 39%;
	}
	70% {
		left: 40%;
	}
	80% {
		left: 43%;
	}
	90% {
		left: 38%;
	}
	100% {
		left: 40%;
		bottom: 25%;
		opacity: 0.5;
	}
}

@keyframes bubble3 {
	0% {
		left: 60%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 64%;
	}
	20% {
		left: 58%;
	}
	30% {
		left: 61.5%;
	}
	40% {
		left: 60%;
	}
	50% {
		left: 57%;
	}
	60% {
		left: 59%;
	}
	70% {
		left: 62%;
	}
	80% {
		left: 60%;
	}
	90% {
		left: 58%;
	}
	100% {
		left: 60%;
		bottom: 28%;
		opacity: 0.5;
	}
}

@keyframes bubble4 {
	0% {
		left: 80%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 82%;
	}
	20% {
		left: 79%;
	}
	30% {
		left: 82.5%;
	}
	40% {
		left: 80%;
	}
	50% {
		left: 78%;
	}
	60% {
		left: 79%;
	}
	70% {
		left: 78%;
	}
	80% {
		left: 81%;
	}
	90% {
		left: 79%;
	}
	100% {
		left: 80%;
		bottom: 24%;
		opacity: 0.5;
	}
}

@keyframes bubble5 {
	0% {
		left: 70%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 72%;
	}
	20% {
		left: 69%;
	}
	30% {
		left: 72.5%;
	}
	40% {
		left: 71%;
	}
	50% {
		left: 65%;
	}
	60% {
		left: 70%;
	}
	70% {
		left: 69%;
	}
	80% {
		left: 72%;
	}
	90% {
		left: 68%;
	}
	100% {
		left: 70%;
		bottom: 22%;
		opacity: 0.5;
	}
}

@keyframes bubble6 {
	0% {
		left: 30%;
		bottom: -10%;
		opacity: 1;
	}
	10% {
		left: 32%;
	}
	20% {
		left: 29%;
	}
	30% {
		left: 32.5%;
	}
	40% {
		left: 31%;
	}
	50% {
		left: 25%;
	}
	60% {
		left: 30%;
	}
	70% {
		left: 29%;
	}
	80% {
		left: 32%;
	}
	90% {
		left: 28%;
	}
	100% {
		left: 30%;
		bottom: 28%;
		opacity: 0.5;
	}
}

@keyframes textFlicker {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
